<%- include('partials/navbar.ejs') %>
<%- include('partials/header.ejs') %>


<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Clientes Cadastrados</h1>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <thead class="table-warning">
                    <tr>
                        <th>Icon</th>
                        <th>Nome:</th>
                        <th>CPF:</th>
                        <th>Telefone:</th>
                        <th>Endereço: </th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Chamando o array de objetos -->
                <% clientes.forEach(cliente => { %>
                    <tr>
                        <td style="text-align: center;"><img src="/imgs/perfil.png" width="45px"></td>
                        <td><%= cliente.nome %></td>
                        <td><%= cliente.cpf %></td>
                        <td><%= cliente.telefone %></td>
                        <td><%= cliente.endereco %></td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>





<%- include('partials/footer.ejs') %>